<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permissões -->

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/logo"
        android:label="@string/domus"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="31">

        <!-- Activities -->
        <activity android:name=".ImageViewerActivity" android:exported="false" />
        <activity android:name=".ListaAvisosActivity" android:exported="false" />
        <activity android:name=".CadastroAvisosActivity" android:exported="false" />

        <!-- MAIN ACTIVITY -->
        <activity android:name=".MainActivity" android:exported="true" android:screenOrientation="sensor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Login Activities -->
        <activity android:name=".LoginMoradorActivity" android:exported="false" />
        <activity android:name=".LoginMasterActivity" android:exported="false" />
        <activity android:name=".LoginAdminActivity" android:exported="false" />

        <!-- Administração -->
        <activity android:name=".AdministradoresActivity" android:exported="false" />
        <activity android:name=".ListaDespesasActivity" android:exported="false" />
        <activity android:name=".RegistroDespesasActivity" android:exported="false" />
        <activity android:name=".ListaAssembleiasActivity" android:exported="false" />
        <activity android:name=".RegistroAssembleiasActivity" android:exported="false" />
        <activity android:name=".ListaManutencaoActivity" android:exported="false" />
        <activity android:name=".CadastroManutencaoActivity" android:exported="false" />
        <activity android:name=".ListaFuncionariosActivity" android:exported="false" />
        <activity android:name=".CadastroFuncionarioActivity" android:exported="false" />
        <activity android:name=".FuncionariosActivity" android:exported="false" />
        <activity android:name=".ListaOcorrenciasActivity" android:exported="false" />
        <activity android:name=".RegistroOcorrenciasActivity" android:exported="false" />
        <activity android:name=".BackupActivity" android:exported="false" />
        <activity android:name=".ListaMoradoresActivity" android:exported="false" />
        <activity android:name=".CadastroMoradorActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".DashBoardActivity" android:exported="false" />

        <!-- Provider para anexos via FileProvider -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>
